<section id="contact" class="contact-section">
  <h1>Contact Me</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Message</ion-label>
      <ion-textarea formControlName="message"></ion-textarea>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="isLoading || contactForm.invalid">
      @if (isLoading) {
      <ion-spinner name="crescent"></ion-spinner>
      } @else {
      Send Message
      }
    </ion-button>
  </form>
</section>