#projects {
  margin: 20px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

ion-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  ion-card-content {
    flex: 1;
  }
}